* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #09090B;
}

.container {
    display: flex;
    justify-content: flex-end;
}

.carrinho {
    background-color: #18181B;
    display: flex;
    width: 428px;
    flex-direction: column;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.25);
    height: 100vh;
}

.carrinho-header {
    display: flex;
    justify-content: space-between;;
    border-bottom: #3F3F46 1px solid;
    gap: 8px;
}

.carrinho-header p {
    color: #F9FAFB;
    font-size: large;
    width: auto;
    height: auto;
    padding-left: 32px;
    padding-top: 24px;
    padding-right: 48px;
    padding-bottom: 24px;
}

.carrinho-header img {
    padding-right: 24px;
}

.carrinho-center {
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: auto;
    padding: 1rem;
    scrollbar-color: #3F3F46 #09090B;
}

.carrinho-items {
    display: flex;
    padding-bottom: 1rem;
}

.carrinho-items-img {
    width: 150px;
    padding-right: 20px;
}

.carrinho-items img {
    width: 100%;
    aspect-ratio: 1;
    border-radius: 8px;
}

.nome-produto {
    width: 200px;
    height: 2em;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #F9FAFB;
    font-size: medium;
    padding: 8px;
    box-sizing: unset;
}

.carrinho-items-info {
    display: flex;
    flex-direction: column;
}

.carrinho-items-info-valor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.carrinho-items-info-valor p:nth-child(1) {
    width: auto;
    color: #F9FAFB;
    padding: 8px;
    margin: 0;
}

.carrinho-items-info-quantidade {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.carrinho-items-info-quantidade p {
    color: #F9FAFB;
    margin: 0;
}

.carrinho-items-info-quantidade button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    padding: 12px;
    padding-inline: 0;
    width: 40px;
    height: 40px;
    border-style: solid;
    border-radius: 8px;
    color: #A855F7;
    font-size: 20px;
    transition: ease-in-out 0.3s;
}

.carrinho-items-info-quantidade-1 {
    border-color: #3F3F46;
}

.carrinho-items-info-quantidade-2 {
    border-color: #A855F7;
}

.carrinho-items-info-quantidade-1:hover {
    border-color: #A855F7;
    color: #F9FAFB;
}

.carrinho-items-info-quantidade-2:hover {
    background-color: #A855F7;
    color: #F9FAFB;
}

.carrinho-footer {
    display: flex;
    flex-direction: column;
    border-top: #3F3F46 1px solid;
}

.carrinho-footer div {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.carrinho-footer p {
    color: #E4E4E7;
}

.carrinho-footer button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9333EA;
    padding: 32px;
    padding-inline: 0;
    width: 85%;
    height: 40px;
    border-style: none;
    border-radius: 8px;
    color: #F9FAFB;
    font-size: 20px;
    transition: ease-in-out 0.3s;
}

.valor-total {
    color: #F9FAFB;
    font-size: large;
}

.carrinho-footer-finalizar {
    margin: 32px;
}

.carrinho-footer-finalizar:hover {
    background-color: #A855F7;
}